{% extends "base.html" %}

{% block main %}
  <div class="grid">
    {% include 'flash_messages.html' %}
    <h1>Add Profile</h1> 
    <form action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data">
      <div class="main">
      {{ form.csrf_token }}
      {{ form.firstname.label }}
      {{ form.firstname }}
      <ul>
        {% for error in form.firstname.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
      
      {{ form.lastname.label }}
      {{ form.lastname }}
      <ul>
        {% for error in form.lastname.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
      
        {{ form.gender.label }}
        {{ form.gender }}
        <ul>
          {% for error in form.gender.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      
        {{ form.email.label }}
        {{ form.email }}
        <ul>
          {% for error in form.email.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      
        {{ form.location.label }}
        {{ form.location }}
        <ul>
          {% for error in form.location.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

        {{ form.biography.label }}
        {{ form.biography }}
        <ul>
          {% for error in form.biography.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      
        {{ form.profilePic.label }}
        {{ form.profilePic }}
        <ul>
          {% for error in form.profilePic.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

      <button type="submit" id="submitButton" name="submit">Add Profile</button>
    </form>
  </div>
{% endblock %}